<% content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>

<h1><%= @article.title %></h1>
<p style="font-size: 12px">Created: <%= "#{@article.created_at}  [views: #{@article.view_count}]" %> </p>
<p style="font-size: 12px">Author: <%= "#{@article.author}" %> </p>
<br />
<p>
  <% if @article.image.exists? %>
    <%= image_tag @article.image.url(:medium) %>
  <% end %>
</p>
<br />
<p id="body_text"><%= @article.body %></p>
<br />
<p>
  <%= link_to "Tags:", tags_path %>
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>
<br />
<% if (current_user and current_user.username == @article.author) || (current_user and current_user.username == "admin")  %>
  <div class="btn_white_background">
    <%= button_to "Edit", edit_article_path(@article),
      :style => 'width: 95px', method: :get %>
  </div>
  <div class="btn_white_background">
    <%= button_to "Delete", article_path(@article), :style => 'width: 95px; background-image: linear-gradient(#8c0101, #590000, #8c0101)',
      method: :delete,
      data: {confirm: "Really delete this article?"} %>
  </div>
  <br />
  <br />
<% end %>
<h3>Comments (<%= @article.comments.size %>)</h3>
<%= render partial: 'articles/comment', collection: @article.comments %>
<%= render partial: 'comments/form' %>
