<% content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>

<h1><%= @article.title %></h1>
<p>Author: <%= "#{@article.author}" %></p>
<br />
<p>
  <%= link_to "Tags:", tags_path %>
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>
<br />
<p>
  <% if @article.image.exists? %>
    <%= image_tag @article.image.url(:medium) %>
  <% end %>
</p>
<br />
<p><%= @article.body %></p>
<br />
<% if current_user and current_user.username == @article.author || current_user and current_user.username == "admin"  %>
  <%= link_to "edit", edit_article_path(@article) %>
  <br />
  <br />
  <%= link_to "delete", article_path(@article),
      method: :delete,
      data: {confirm: "Really delete this article?"} %>
  <br />
  <br />
<% end %>
<h3>Comments (<%= @article.comments.size %>)</h3>
<%= render partial: 'articles/comment', collection: @article.comments %>
<%= render partial: 'comments/form' %>
