<% content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>

<p id="notice"><%= notice %></p>

<h1>Authors</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>&nbsp;Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td><%= author.username %></td>
        <td>&nbsp;<%= author.email %></td>
        <% if current_user and current_user.username == "admin" %>
          <td>&nbsp;<%= link_to 'Edit', edit_author_path(author) %></td>
          <td>&nbsp;<%= link_to 'Destroy', author, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<div class="btn_white_background">
  <%= button_to "New Author", new_author_path, :style => 'width: 127px', method: :get %>
</div>
