<% content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @author.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @author.email %>
</p>
<% if current_user and current_user.username == "admin" %>
  <%= link_to 'Edit', edit_author_path(@author) %>
<% end %>
<%= link_to 'Back', authors_path %>
