<div class="sidenav">
  <ul>
    <p class="sidelink"><%= link_to "All Articles", articles_path %></p>
    <p class="sidelink"><%= link_to "All Tags", tags_path %></p>
    <p class="sidelink"><%= link_to "All Authors", authors_path %></p>
    <div class="container">
      <div class="content">
        <% if logged_in? %>
          <%= "Logged in as " %>
          <h3 class="wrap"><%= "#{current_user.username}" %></h3>
          <br />
          <%= link_to "logout", logout_path %>
        <% else %>
          <%= link_to "login", login_path %>
          <br />
          <br />
          <%= link_to '(sign up)', new_author_path %>
        <% end %>
      </div>
    </div>
  </ul>
</div>
